@charset "UTF-8";

html {
    scroll-behavior: smooth;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-image: url('../img/backimage.PNG');
    background-repeat: repeat-y;
    background-size: contain;
}


img{
    max-width: 100%;
}

/*スムーズスクロール用の余白*/
.smoothmargin {
    position: top;
    height:80px;
}

/*header*/
header{
    background: linear-gradient(90deg, rgb(93, 225, 213,0.95), rgb(238, 254, 161,0.95));
    padding:1rem 0;
    /*固定表示のための記述*/
    position: fixed;
    width: 100%;
    z-index: 1;
}


nav {
    overflow: hidden;
}

.main-nav{
    width: 100%;
    position: static;
    z-index: 2;
    top: 50px;
    right: 0;
    transition: .5s;
    text-align: center;
}

nav li {
    list-style: none;
    width: 140px;
    display: inline-block;
    width:17%;
}

nav li a:hover {
    transition: .5s;
    color: rgb(255, 255, 255);
}


nav li a{
    text-decoration: none;
    white-space: nowrap;
    color: rgb(122, 122, 122);
    font-weight: bold;
    font-size: 2.5vw;
}

/*top*/
#top{
    background-image: url('../img/titleimage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: cover;
    height: 60vw;
    position:relative;
    /*display: flex;*/
}

.logo {
    width:25%;
    height:auto;
    position: absolute;
    top: 15%;
    left:75%;
}

.dlbutton {
    width:38%;
    position: absolute;
    bottom: 19%;
    right:30%;
}

.dltext {
    color:yellow;
    font-size: 3.7vw;
    font-weight: bold;
    position: absolute;
    left:7%;
    bottom:30%;
}


.dlbutton:hover img{
    transform: scale(1.05);
}



/*story*/
.storybox {
    margin-left:10%;
    margin-right:10%;
    border:10px;
    border: 2px solid rgb(122, 122, 122);
    background:rgb(255, 255, 255,0.5);
    width:auto;
    height: 100%;
}

.storytext {
    margin:5%;
    text-align: center;
    font-size: 2vw;
    line-height:2;
}

.textimpact {
    font-weight: bold;
    background:linear-gradient(transparent 60%, #ff6 60%);
}

.bigtext {
    font-size: 2.5vw;
}



/*遊び方*/
.operationbox {
    margin-left:10%;
    margin-right:10%;
    border:10px;
    border: 2px solid rgb(122, 122, 122);
    background:rgb(255, 255, 255,0.5);
    width:auto;
    height: 100%;
}

.operationcontainerleft {
    margin:5%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-content: flex-start;
    gap:3%;
}
.operationcontainerright {
    margin:5%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-content: flex-start;
    gap:3%;
}



/*キャラクター*/
.characterbox {
    margin-left:10%;
    margin-right:10%;
    border:10px;
    border: 2px solid rgb(122, 122, 122);
    background:rgb(255, 255, 255,0.5);
    width:auto;
    height: 100%;
    margin-bottom:100px;
}

.charactercontainerleft {
    margin:5%;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    align-content: flex-start;
    gap:8%;
}
.charactercontainerright {
    margin:5%;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    align-content: flex-start;
    gap:8%;
}


/*ボックス共通部分*/
.title {
    padding-top: 30px;
    text-align: center;
    font-size: 3.5vw;
    border-bottom:2px solid rgb(122, 122, 122);
    width: 50%;
    margin-left: auto;
	margin-right: auto;
}

.gridtext {
    text-align: left;
    font-size: 2.5vw;
    border-bottom:1px solid rgb(122, 122, 122);
    width: 10%;
}

.nametext {
    text-align: left;
    font-size: 2.5vw;
    width: 10%;
}

@media (max-width:600px) {
    .main-nav {
        display:none;
    }
}